:host {
  ::selection {
    color: var(--base-selection-color);
    background: var(--base-selection-background-color);
    text-shadow: none;
  }

  ::-moz-selection {
    color: var(--base-selection-color);
    background: var(--base-selection-background-color);
    text-shadow: none;
  }
  display: block;
  width: 90%;

  pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;

    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;

    word-wrap: break-word;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

    background: #1b2b34;
    color: #c0c5ce;

    code {
      display: block;
      padding: 5px;
      overflow: auto;
      max-height: 400px;
      word-wrap: normal;
    }
  }
  code {
    font-family: monospace;
  }

  .hljs-comment,
  .hljs-title {
    color: #a7adba;
  }

  .hljs-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-regexp,
  .ruby .hljs-constant,
  .xml .hljs-tag .hljs-title,
  .xml .hljs-pi,
  .xml .hljs-doctype,
  .html .hljs-doctype,
  .css .hljs-id,
  .css .hljs-class,
  .css .hljs-pseudo {
    color: #ec5f67;
  }

  .hljs-preprocessor,
  .hljs-built_in,
  .hljs-literal,
  .hljs-params,
  .hljs-constant {
    color: #f99157;
  }

  /* Oceanic Next Yellow */
  .ruby .hljs-class .hljs-title,
  .css .hljs-rules .hljs-attribute {
    color: #fac863;
  }

  /* Oceanic Next Green */
  .hljs-string,
  .hljs-value,
  .hljs-inheritance,
  .hljs-header,
  .ruby .hljs-symbol,
  .xml .hljs-cdata {
    color: #99c794;
  }

  /* Oceanic Next Aqua */
  .css .hljs-hexcolor {
    color: #5fb3b3;
  }

  /* Oceanic Next Blue */
  .hljs-function,
  .python .hljs-decorator,
  .python .hljs-title,
  .ruby .hljs-function .hljs-title,
  .ruby .hljs-title .hljs-keyword,
  .perl .hljs-sub,
  .javascript .hljs-title,
  .coffeescript .hljs-title {
    color: #6699cc;
  }

  /* Oceanic Next Purple */
  .hljs-keyword,
  .javascript .hljs-function {
    color: #c594c5;
  }

  .coffeescript .javascript,
  .javascript .xml,
  .tex .hljs-formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .hljs-cdata {
    opacity: 0.5;
  }
}
