html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
}

reveal-deck {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  width: 100%;
  font-size: 42px;

  .reveal-background-color {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 300ms ease-in;
    width: 100%;
    z-index: -2;
  }

  .reveal-background-image {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 300ms ease-in;
    width: 100%;
    z-index: -1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }


table th,
table td {
  text-align: left;
  border-bottom: 0;
}
table td{
  padding-right: 40px;
}

  pre,
  code {
    font-family: 'Hasklig', monospace;
  }
  img,
  video,
  iframe {
    max-height: 95%;
    max-width: 95%;
  }
  iframe {
    height: 400px;
    width: 95%;
  }
}
