present-slide {
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2;

  &.has-light-background {
    color: #222;
  }
  &.active,
  &.active > * {
    pointer-events: initial;
    opacity: 1;
  }
  .slide-wrapper {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 80%;
  }
}
